header{
    height: 50px;
}

header a{
    display: inline-block;
    width: 80px;
    height: auto;
    text-decoration: none;
    color: #fff;
    font-size:30px;
    border-radius:8px;
    text-align:center;
    padding:10px 20px;
    margin-left: 8%;
    box-shadow:0 6px 0 0 #005400;
    transform: translateY(-6px);
    transition:0.3s all;
    background: #0ba500; /* Old browsers */
    background: -moz-linear-gradient(top,  #0ba500 0%, #008000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #0ba500 0%,#008000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #0ba500 0%,#008000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0ba500', endColorstr='#008000',GradientType=0 ); /* IE6-9 */
}

header a:hover{
    box-shadow:0 2px 0 0 #005400;/*hoverしたら影が縦に4px減るようにしています*/
    transform: translateY(-2px);
}

footer{
    height: 100px;
}

body{
    background-image: url(img/kabegamiya-honpo_s-ykik-con-ll5228.jpg) ;
    border-image-width: 100%;
}

/*---ホーム画面---*/
/* タイトル　*/
.title{
    margin-left: auto;
    margin-right: auto;
    width: 1300px;
}

.title h1{
    text-align: center;
    font-size: 200px;
    font-family: "Ravi Prakash", cursive;
    /* border-bottom: solid; */
}

/*　スタートボタン　*/
.start{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 20px;
    width: 200px;
    height: 100px;
    border-radius: 3vh;
    border: 13px outset rgb(100, 100, 100);
    border-color: rgb(100, 100, 100);
    background: rgb(100, 100, 100);
}

.start:hover{
    background: rgb(255, 0, 0);
    color: rgb(255, 0, 0);
    border-radius: 20px;
    border-color: rgb(255, 0, 0);
    box-shadow: 0 15px 20px black;
    transform: translate(0, -5px);
} 

.start a{
    font-size: 60px;
    color: black;
    font-family: 'Chakra Petch', sans-serif;
    text-decoration-line: none;
}

/* --- レベル選択 --- */
.level{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /* width: 1000px; */
}

.level h2{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    border:  5px dashed;
    font-size: 50px;
    font-family: "M PLUS Rounded 1c"; 
}

.level ul{
    display: flex;
    justify-content:space-between;  
    margin-left: auto;
    margin-right: auto;
}

.level a{
    display: block;
	text-align: center;
	/* vertical-align: middle; */
	text-decoration: none;
	position: relative;
	width: 120px;
	margin: auto;
	padding: 1rem 4rem;
	font-weight: bold;
    font-size: 40px;
    font-family: 'Chakra Petch', sans-serif;
	border-radius: 10px;
	color: #000000;
    background-color: rgb(251, 255, 0);
	border: 3px solid rgb(251, 255, 0);
	box-shadow: 10px 5px rgb(110, 112, 0);
	transition: 0.3s ease-in-out;
}

.level a:hover{
    box-shadow: none;
	transform: translate(5px, 5px);
	color: #000000;
    background-color: rgb(255, 0, 0);
	border: 3px solid rgb(255, 0, 0);
	box-shadow: 2px 2px rgb(109, 0, 0);
}

/*---ゲーム画面---*/
.game header{
    height: 80px;
    /* border-top: dashed;
    border-bottom: dashed; */
    margin-bottom: 10px;
}



.main{
    margin-left: auto;
    margin-right: auto;
    width: 1300px;
    display: flex;

}

.screen p{
    top: 100px;
    width: 800px;
    height: 800px;
    margin-right: 200px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 20px 35px rgb(34, 18, 18);
    transform: translate(0, -5px);
}

.gameover{
    width: 800px;
    text-align: center;
}

.gameover p{
    width: 800px;
    margin-top: 100px;
    font-size: 70px;
    color: brown;
    font-family: 'Chakra Petch', sans-serif;
    font-family: 'Play', sans-serif;
}

.gameover a{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 20px;
    width: 200px;
    height: 100px;
    border-radius: 3vh;
    border: 13px outset rgb(100, 100, 100);
    border-color: rgb(100, 100, 100);
    background: rgb(100, 100, 100);
    text-decoration: none;
    font-size: 40px;
    font-family: 'Chakra Petch', sans-serif;
    color: #000000;
}

.gameover a:hover{
    color: #000000;
    background: rgb(255, 238, 0);
    border-radius: 20px;
    border-color: rgb(255, 238, 0);
    box-shadow: 0 15px 20px black;
    transform: translate(0, -5px);
} 

.score{
    width: 250px;
    text-align: center;
    border-style: solid;
    box-shadow: 0 10px 20px black;
    transform: translate(0, -5px);
    background-color: rgb(255, 255, 255);
}

.score h2{
    margin: 0;
    padding: 0;
    height: 55px;
    font-size: 40px;
    border-bottom: solid;
    font-family: 'Chakra Petch', sans-serif;
}

.score p{
    margin: 0;
    padding: 0;
    height: 150px;
    font-size: 100px;
}

.life{
    margin-top: 50px;
    width: 250px;
    text-align: center;
    border-style: solid;
    box-shadow: 0 10px 20px black;
    transform: translate(0, -5px);
    background-color: rgb(255, 255, 255);
}

.life h2{
    margin: 0;
    padding: 0;
    height: 55px;
    font-size: 40px;
    border-bottom: double;
    font-family: 'Chakra Petch', sans-serif;
}

.life p{
    /* margin: 0;
    padding: 0; */
    height: 60px;
    font-size: 50px;
}

.user_guide{
    margin-top: 50px;
    width: 300px;
    text-align: center;
    border-style: solid;
    box-shadow: 0 10px 20px black;
    transform: translate(0, -5px);
    background-color: rgb(255, 255, 255);
}

.user_guide h2{
    margin: 0;
    padding: 0;
    height: 70px;
    font-size: 40px;
    border-bottom: double;
    font-family: 'Chakra Petch', sans-serif;
}

.user_guide p{
    /* margin: 0;
    padding: 0; */
    height: 70px;
    font-size: 30px;
    font-family: "M PLUS Rounded 1c"; 
}

